* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole header */
header {
    background-color: lightblue;
    height: 40px;
}
/* regole generali container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* bordo generale */
.border{
    border: dotted black;
}

header .container {
    background-color: yellow;
    height: 20px;
    width: 70%;
    justify-content: space-between;
} 

.sides {
    width: 20%;
}

.links{
    display: flex;
    justify-content: center;
    border-left: dotted black;
    border-right: dotted black;
    width: 80%;
}

.login {
    display: flex;
    justify-content: flex-end;
}
/* regole hero */
.hero {
    background-color: blue;
    height: 400px;
}

#text {
    background-color: blueviolet;
    height: 90%;
    width: 50%;
}

/* main */
.column-container {  
    flex-direction: column;
 }

 .testo-foto{
    width: 60%;
 }

.content{
    height: 90%;
    width: 70%;
}

.bianco{
    background-color: #fff;
    height: 400px;
    width: auto;
}

.grigio {
    background-color: grey;
    height: 400px;
    width: auto;
}

.grigio .immagine{
    border-left:dotted black ;
}

.bianco .immagine{
    border-right:dotted black ;
}

.immagine{
    background-color: blue;
    width: 60%;
    height: 100%;
}

.testo{
    background-color: pink;
    width: 40%;
    height: 100%
}

.verde {
    height: ;
    background-color: green;
}

.end-main{
    height: 700px;
}

/* regole footer */
footer{     
    background-color: #23272A;
    height: 10%;
}

.top-footer{
    height: 400px;
}

.strech{
    align-items: stretch;
    height: 360px;
}

.salmone{
    background-color: #F08180;
}

.ciano{
    background-color: #20B3AA;
}

.divisore{
    border-bottom: solid white;
    margin: 30px 0;
}

.bottom{
    justify-content: space-between;
    background-color: #7FFFD4;
    height: 40px;
}

.edges{
    background-color: #FFB5C3;
}
