* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole header */
header {
    background-color: lightblue;
    height: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{
    border: dotted black;
}

header .container {
    background-color: yellow;
    height: 20px;
    width: 70%;
    justify-content: space-between;
} 

.sides {
    width: 20%;
}

.links{
    display: flex;
    justify-content: center;
    border-left: dotted black;
    border-right: dotted black;
    width: 80%;
}

.login {
    display: flex;
    justify-content: flex-end;
}

.hero {
    background-color: blue;
    height: 400px;
}

#text {
    background-color: blueviolet;
    height: 90%;
    width: 60%;
}

/* main */
.main-container {  
    flex-direction: column;
 }

 .testo-foto{
    width: 60%;
 }

.content{
    height: 90%;
    width: 60%;
}

.bianco{
    background-color: #fff;
    height: 400px;
    width: auto;
}

.grigio {
    background-color: grey;
    height: 400px;
    width: auto;
}

.grigio .immagine{
    border-left:dotted black ;
}

.bianco .immagine{
    border-right:dotted black ;
}
.immagine{
    background-color: blue;
    width: 60%;
    height: 100%;
}



.testo{
    background-color: pink;
    width: 40%;
    height: 100%
}

.verde {
    height: ;
    background-color: green;
}

.end-main{
    height: 700px;
}

/* regole footer */
footer{
    background-color: #23272A;
    height: 600px;
}

